@import url(https://fonts.googleapis.com/css?family=Nanum+Brush+Script);

body {
  background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color:black
}

h1 {
  color: black;
  text-align: center;
  font-family: Nanum Brush Script;
  font-size: 100px;
}

p {
  font-family: Nanum Brush Script;
  font-size: 100px;
  text-align: center;

}

.center {
  display: block;
  margin-left: auto;
  margin-top: -100px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  opacity: 50%;
  border-radius: 50%;
}
